body{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height: 16px;

	@include mobile(){
		font-size: 12px;
		line-height: 16px;
	}
}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}
